---
import "@/styles/global.css";
import "@fontsource/merriweather";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html class="dark" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="author" content="Bobie Fordjour McCamble" />
    <meta name="og:title" content={title} />
    <meta name="og:description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <div class="flex h-dvh overflow-hidden">
      <slot />
    </div>
  </body>
</html>
